</main>

<footer class="site-footer py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-brand">
                    <i class="fa-solid fa-film me-2"></i>
                    <span>CineVerse</span>
                </div>
                <p class="footer-text">Your ultimate destination for exploring movies and TV shows.</p>
            </div>
            <div class="col-md-6">
                <div class="footer-links">
                    <div class="social-links">
                        <a href="https://github.com/oniids13" target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/oniids/"  target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="mailto:jdino.baya@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                    <p class="copyright">&copy; <%= new Date().getFullYear() %> | Jose Dino Abaya</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>